.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% var(--page-x-padding);
  background-color: var(--secondary-green);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px var(--grey-medium);
  position: relative;
  top: 0;
  background-color: var(--primary-white);
}

button:hover {
  box-shadow: none;
  top: 3px;
}