.home-container {
  padding: 0 var(--page-x-padding);
}

.home-dashboard {
  margin: 5% 0;
  padding: 10px 20px;
  height: 20dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10%;
  background-color: var(--primary-white);
  border-radius: 10px;
}

.home-button-container {
  display: flex;
  gap: 20px;
}

.home-button-container button {
  background-color: var(--primary-white);
  border: 2px solid var(--accent);
  border-radius: 5px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--accent);
}

.term-card-container {
  display: flex;
  gap: 40px;
}

