<div class="term-detail">
  <div (click)="goBack()" class="term-detail-menu">
    <app-icon iconName="arrow-left"></app-icon>
    <p>Atrás</p>
  </div>
  <div class="term-detail-content">
    <app-term-card class="term-detail-summary" [term]=termNumber [completedSessions]=completedSessions [totalSessions]=totalSessions></app-term-card>
    <div class="term-sessions">
      <div class="term-sessions-header">
        <h2>Sesiones del {{termNumber}}º trimestre</h2>
        <div class="term-sessions-progress">{{completedSessions}}/{{totalSessions}}</div>
      </div>
      <div class="term-sessions-list">
        <app-session-card *ngFor="let session of sessions" [session]="session"></app-session-card>
      </div>
    </div>
  </div>
</div>
