.term-detail {
  padding: 0 var(--page-x-padding);
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5%;
  margin-top: 3%;
}

.term-detail-menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.term-detail-content {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.term-detail-summary {
  width: 30%;
}

.term-sessions {
  border-radius: 10px;
  background-color: var(--primary-white);
  width: 65%;
  height: 100%;
}

.term-sessions-header {
  height: 10%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--grey-medium);
}

.term-sessions-progress {
  color: var(--primary-white);
  background-color: var(--progress);
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.term-sessions-list {
  // padding: 20px 40px;
  overflow-y: scroll;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
