<div class="session-card" [class.next-session] = "session.isNext">
  <div class="session-info">
    <p class="session-number">{{session.sessionNumber}}</p>
    <p>{{session.sessionTitle}}</p>
  </div>
  <div class="session-actions">
    <app-icon *ngIf="session.isDone; else renderPending" iconName="visto"></app-icon>
    <ng-template #renderPending>
      <app-icon *ngIf="!session.isNext; else renderNextSession" iconName="no-visto"></app-icon>
      <ng-template #renderNextSession>
        <div class="next-session-icons">
          <app-icon iconName="aleatorio-white"></app-icon>
          <app-icon class="play-next-session" iconName="play"></app-icon>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
