<h1>Antes de empezar...</h1>
<div class="instructions-container">
  <div class="instruction">
    <app-icon iconName="volume-notice"></app-icon>
    <p>Asegúrate de tener el <span class="bold">volumen activado.</span></p>
  </div>
  <div class="instruction">
    <app-icon iconName="stopwatch-start"></app-icon>
    <p>
      Los bits pasan automáticamente <span class="bold">cada 2 segundos</span>.
    </p>
  </div>
  <div class="instruction">
    <app-icon iconName="pause"></app-icon>
    <p>
      Puedes detener el pase con la
      <span class="bold">barra espaciadora</span> o haciendo
      <span class="bold">clic en la pantalla</span>.
    </p>
  </div>
  <app-button
    [isPrimary]="true"
    [isActive]="true"
    [isIcon]="true"
    iconName="play-white"
    buttonText="Empezar pase"
  ></app-button>
</div>
