@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
:root {
  --primary-white: #FFFFFF;
  --secondary-green: #00AEA4;
  --accent: #F26C48;
  --grey-medium: #656565;
  --grey-dark-icons: #4F4F4F;
  --grey-dark-text: #3B3B3B;
  --background-color: #F0F0F0;
  --page-x-padding: 10%
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  size: 36;
  letter-spacing: 54;
}

h2 {
  font-family: 'Poppins', sans-serif;
  size: 24;
  letter-spacing: 36;
}

body {
  font-family: 'Roboto', sans-serif;
  size: 20;
  letter-spacing: 30;
  background-color: var(--background-color);
}

button {
  font-family: 'Roboto', sans-serif;
  size: 20;
  letter-spacing: 30;
  font-weight: bold;
}

a {
  font-family: 'Roboto', sans-serif;
  size: 20;
  letter-spacing: 30;
}

.white-text {
  color: var(--primary-white);
}

.black-text {
  color: var(--grey-dark-text);
}