@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&display=swap');
:root {
  --primary-white: #FFFFFF;
  --secondary-green: #00AEA4;
  --accent: #F26C48;
  --accent-shadow: #D35435;
  --progress: #ED993F;
  --grey-light: #DDDDDD;
  --grey-medium: #656565;
  --grey-dark-icons: #4F4F4F;
  --grey-dark-text: #3B3B3B;
  --background-color: #F0F0F0;
  --page-x-padding: 10%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

body {
  height: 100dvh;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 30;
  background-color: var(--background-color);
  color: var(--grey-dark-text);
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: var(--grey-dark-text);
}

.white-text {
  color: var(--primary-white);
}

.bold {
  font-weight: bold;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
  position: relative;
}