<div class="menu-container" [class.open]="isMenuOpen() | async">
  <div class="blur"></div>
  <div class="menu">
    <div class="menu-header">
      <app-icon (click)="closeMenu()" iconName="arrow-left"></app-icon>
      <h2>Configuración</h2>
    </div>
    <ng-container *ngIf="!isError; else error">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm)">
        <div class="input-container">

          <div class="dropdown-container">
            <label class="dropdown-label">Idioma</label>
            <mat-form-field>
              <mat-select formControlName="idioma">
                <mat-option value="esp">
                    <div>Español</div>
                </mat-option>
                <mat-option value="eng">
                  <div>English</div>
              </mat-option>
                <mat-option value="cat">
                  <div>Català</div>
              </mat-option>
              </mat-select>
            </mat-form-field>
          </div>



          <!-- <div class="dropdown-container">
            <label for="idioma" class="dropdown-label">Idioma</label>
            <select
              id="idioma"
              class="custom-dropdown"
              formControlName="idioma"
              required="true"
            >
              <option value="esp">Español</option>
              <option value="eng">English</option>
              <option value="cat">Català</option>
            </select>
          </div> -->

          <div class="dropdown-container">
            <label for="curso" class="dropdown-label">Curso</label>
            <select
              id="curso"
              class="custom-dropdown"
              formControlName="curso"
              required="true"
            >
              <option value="3i">3º Infantil</option>
              <option value="4i">4º Infantil</option>
              <option value="5i">5º Infantil</option>
            </select>
          </div>
        </div>
        <div class="form-buttons">
          <button type="submit" class="submit-button">Guardar cambios</button>
        </div>
      </form>
    </ng-container>
    <ng-template #error>
      <h2 class="error">{{ errorMessage }}</h2>
    </ng-template>
    <button class="cancel-button" (click)="closeMenu()">
      Cerrar sin guardar
    </button>
  </div>
</div>
