<div class="menu-container" [class.open]="isMenuOpen() | async">
  <div class="blur"></div>
  <div class="menu">
    <div class="menu-header">
      <app-icon (click)="closeMenu()" iconName="arrow-left"></app-icon>
      <h2>Configuración</h2>
    </div>
    <ng-container *ngIf="!isError; else error">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit(settingsForm)">
        <div class="input-container">

          <div class="dropdown-container">
            <label class="dropdown-label">Idioma</label>
            <mat-form-field>
              <mat-select formControlName="idioma">
                <mat-option value="esp">
                    Español
                </mat-option>
                <mat-option value="eng">
                  English
              </mat-option>
                <mat-option value="cat">
                  Català
              </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="dropdown-container">
            <label class="dropdown-label">Curso</label>
            <mat-form-field>
              <mat-select formControlName="curso">
                <mat-option value="3i">
                    3º de Infantil
                </mat-option>
                <mat-option value="4i">
                  4º de Infantil
              </mat-option>
                <mat-option value="5i">
                  5º de Infantil
              </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="form-buttons">
          <button type="submit" class="submit-button">Guardar cambios</button>
        </div>
      </form>
    </ng-container>
    <ng-template #error>
      <h2 class="error">{{ errorMessage }}</h2>
    </ng-template>
    <button class="cancel-button" (click)="closeMenu()">
      Cerrar sin guardar
    </button>
  </div>
</div>
