.menu-container {
  display: none;
  height: 100dvh;
  width: 100dvw;
}

.menu-container.open {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.blur {
  height: 100%;
  width: 60%;
  background-color: var(--grey-dark-text);
  opacity: 50%;
}

.menu {
  height: 100%;
  width: 40%;
  background-color: var(--primary-white);
  box-shadow: 0 0 30px 0 var(--grey-dark-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.menu-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20%;
}

.menu-header h2 {
  margin: 0 auto;
}

form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.dropdown-container {
  position: relative;
}

.dropdown-label {
  position: absolute;
  top: -7px;
  left: 10px;
  background-color: var(--primary-white);
  padding: 0 5px;
  font-size: 12px;
  color: var(--grey-medium);
}

.custom-dropdown {
  width: 100%;
  border: 1px solid var(--grey-light);
  padding: 15px;
  font-size: 14px;
  color: var(--grey-dark-text);
}

.custom-dropdown:focus {
  border: 1px solid var(--secondary-green);
}

.form-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-button {
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 20px;
  font-weight: bold;
  height: 50px;
  color: var(--primary-white);
  background-color: var(--accent);
  border: 2px solid var(--accent);
  box-shadow: 0 3px var(--accent-shadow);
}

.cancel-button {
  font-size: 15px;
  margin-top: 20px;
  background-color: var(--primary-white);
  border: none;
  text-decoration: underline;
  font-weight: bold;
}

